<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/UserEditAccess.css">
    <link rel="stylesheet" href="static/main.css">
    <title>Edit User Profile</title>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Job Portal</a>
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="userSignIn.html">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container light-style flex-grow-1 container-p-y">

        <h2 class="font-weight-bold py-3 mb-4">
            Account settings
        </h2>

        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#personalDetails">Personal Details</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#qualificationDetails">Qualification Details</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#skills">Skills</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#workexp">Work
                            Experience</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#projectDetails">Project Details</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#certifications">Certifications</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#awards">Awards and
                            Achievements</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#others">Others</a>
                    </div>
                </div>
                <form method="POST" action="/user/register">
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="personalDetails">

                                <!-- <div class="card-body media align-items-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input type="file" class="account-settings-fileinput">
                                    </label> &nbsp;
                                    <button type="button" class="btn btn-default md-btn-flat">Reset</button>

                                    <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                </div>
                            </div> -->
                                <hr class="border-light m-0">

                                <div class="card-body">
                                    <!--                                 <div class="form-group">
                                    <label class="form-label">User ID</label>
                                    <input type="text" class="form-control mb-1" value="U1234567" disabled>
                                </div> -->
                                    <div class="form-group">
                                        <label class="form-label">First Name</label>
                                        <input type="text" class="form-control mb-1" name="firstName" value="<%= user.firstName %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Last Name</label>
                                        <input type="text" class="form-control" name="lastName" value="<%= user.lastName %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Gender</label>
                                        <input type="text" class="form-control" name="gender" value="<%= user.gender %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Date of Birth</label>
                                        <input type="date" class="form-control" name="dob" value="<%= user.dob %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail</label>
                                        <input type="text" class="form-control mb-1" name="email" value="<%= user.email %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Phone</label>
                                        <input type="text" class="form-control" name="phone" value="<%= user.phone %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Years of Experience</label>
                                        <input type="text" class="form-control" name="yoe" value="<%= user.yoe %>">
                                    </div>
                                </div>

                            </div>


                            <!-- <div class="tab-pane fade active show" id="account-change">
                            <div class="card-body pb-2">

                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Re-enter new password</label>
                                    <input type="password" class="form-control">
                                </div>

                            </div>
                        </div> -->


                            <div class="tab-pane fade active show" id="qualificationDetails">
                                <div class="card-body pb-2">

                                    <% for (var i in user.qualificationDetails){ %>
                                        <div class="form-group">
                                            <label class="form-label">Institute Name</label>
                                            <input type="text" name="instituteName[]" class="form-control" value="<%= user.qualificationDetails[i].instituteName %>">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Start Date</label>
                                            <input type="date" name="startDate[]" class="form-control" value="<%= user.qualificationDetails[i].startDate %>">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">End Date</label>
                                            <input type="date" name="endDate[]" class="form-control" value="<%= user.qualificationDetails[i].endDate %>">
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label">Degree</label>
                                            <input type="text" class="form-control" name="degree[]" value="<%= user.qualificationDetails[i].degree %>">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Stream</label>
                                            <input type="text" name="stream[]" class="form-control" value="<%= user.qualificationDetails[i].stream %>">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Percentage</label>
                                            <input type="text" name="percentage[]" class="form-control" value="<%= user.qualificationDetails[i].percentage %>">
                                        </div>
                                        <% } >
                             </div>
                            </div>

                        <div class="tab-pane fade active show" id="skills">
                            <% for (var i in user.skills){%>
                                            <d iv class="card-body pb-2">
                                                <div class="form-group">
                                                    <label class="form-label">Skills</label>
                                                    <input type="text" name="skills[]" class="form-control" value="<%= i %>">
                                                </div>
                                </div>
                                <% } >
                        </div>

                        <div class="tab-pane fade active show" id="workexp">
                            <div class="card-body pb-2">
                                <% for (var i in user.workExperience){%>
                                    <div class="form-group">
                                        <label class="form-label">Role</label>
                                        <input type="text" name="role[]" class="form-control" value="<%= user.workExperience[i].role %>">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Organization</label>
                                        <input type="text" name="organization[]" class="form-control" value="<%= user.workExperience[i].organization %>">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Location</label>
                                        <input type="text" name="location[]" class="form-control" value="<%= user.workExperience[i].location %>">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Start Date</label>
                                        <input type="date" name="startDate[]" class="form-control" value="<%= user.workExperience[i].startDate %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">End Date</label>
                                        <input type="date" name="endDate[]" class="form-control" value="<%= user.workExperience[i].endDate %>>
                                </div>

                                <div class=" form-group ">
                                    <label class="form-label ">Description</label>
                                    <textarea class="form-control " name="description[] " id="shortdescriptionofworkdone1 " cols="30 " rows="10 " value="<%=u ser.workExperience[i].description %>"></textarea>
                                    </div>
                                    <%} %>
                            </div>
                        </div>

                        <div class="tab-pane fade active show" id="projectDetails">
                            <div class="card-body pb-2">
                                <% for (var i in user.projectDetails){%>
                                    <div class="form-group">
                                        <label class="form-label">Title</label>
                                        <input type="text" name="title[]" class="form-control" value="<%= user.projectDetails[i].title %>">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Start Date</label>
                                        <input type="date" name="startDate[]" class="form-control" value="<%= user.projectDetails[i].startDate %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">End Date</label>
                                        <input type="date" name="endDate[]" class="form-control" value="<%= user.projectDetails[i].endDate %>">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Project Description</label>
                                        <textarea class="form-control" name="description[]" id="shortdescriptionofproject1" cols="30" rows="10" value="<%= user.projectDetails[i].description %>"></textarea>
                                    </div>
                                    <%} %>
                            </div>
                        </div>
                        <div class="tab-pane fade active show" id="certifications">
                            <div class="card-body pb-2">
                                <% for (var i in user.certifications){%>
                                    <div class="form-group">
                                        <label class="form-label">Course Name</label>
                                        <input type="text" name="courseName[]" class="form-control" value="<%= user.certifications[i].courseName %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Issuing Organization</label>
                                        <input type="text" name="issuingOrganization[]" class="form-control" value="<%= user.certifications[i].issuingOrganization %>">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Issue Date</label>
                                        <input type="date" name="issueDate[]" class="form-control" value="<%= user.certifications[i].issueDate %>">
                                    </div>

                                    <%} %>
                            </div>
                        </div>


                        <div class="tab-pane fade active show" id="awards">
                            <div class="card-body pb-2">
                                <% for (var i in user.awardsAndAchievement){%>
                                    <div class="form-group">
                                        <label class="form-label">Add your accomplishments such as rewards, recognitions,
                                        test scores, certifications, etc. here.</label>
                                        <textarea class="form-control" id="awardsAndAcheivements" name="awards[]" cols="30" rows="10" value="<%= i %>"></textarea>
                                    </div>
                                    <%} %>
                            </div>
                        </div>
                        <div class="tab-pane fade active show" id="others">
                            <div class="card-body pb-2">


                                <div class="form-group">
                                    <p>Relocate: <label for="yesrelocate">Yes</label>
                                        <input type="radio" name="relocate" id="yesrelocate" value="yes" required <%=user.others.relocate ? 'checked' : '' %>>

                                        <label for="norelocate">No</label>
                                        <input type="radio" name="relocate" id="norelocate" value="no" required <%=user.others.relocate ? 'checked' : '' %>>
                                        <p>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Location Preference</label>
                                    <select class="custom-select" name="locationPreference">
                                        <option value="Bangalore" <%= user.others.locationPreference ? 'selected' : '' %>>Hyderabad</option>
                                        <option value="Hyderabad" <%= user.others.locationPreference ? 'selected' : '' %>>Bangalore</option>
                                        <option value="Gurugram" <%= user.others.locationPreference ? 'selected' : '' %>>Gurugram</option>
                                        <option value="Mumbai" <%= user.others.locationPreference ? 'selected' : '' %>>Pune</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Salary Expectation</label>
                                    <input class="form-select" type="number" name="salaryExpectation" id="salaryexp" min="0" max="1000000000" required value="<%= typeof salaryExpectation != 'undefined' ? salaryExpectation : '' %>">
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="text-right mt-3">
        <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
        <!-- <button type="button" onclick="location.href='./UserDetailsViewAdmin.html';" class="btn btn-default">Cancel</button> -->
        <button type="button" class="btn btn-default">Cancel</button>
    </div>

    </div>
    <footer class="footer-css"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>